CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.inc
*.mod
*.o
*.gcda
*.gcno
test/bin
*build*
.archive/
src/singlesite/ED_VERSION.f90
src/ED_VERSION.f90
.DS_Store
*~
src/python/edipy2/__pycache__
doc/utils/sphinxfortran/__pycache__
doc/utils/f2py/__pycache__
doc/Doxyfile
../../test/DEBUG_DIRECT_HxV
